.o_main_navbar {
  background-color: $o-enterprise-color;
}

.o_main_navbar .o_menu_sections {
  background-color: $o-enterprise-color;
}

.o_main_navbar .o_menu_brand {
  padding-left: 15px !important;
}